openapi: 3.0.3
info:
  title: 'Semarang Technopark API'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://apimagang.semarangtechnopark.id'
paths:
  /stp/test:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: string
                example: 'Hello STP-API'
      tags:
        - Endpoints
      security: []
  /stp/auth/signup:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xjhwmebgueyzpzwchpayysbcifbrutvrqukzjfktcsvevahirjeykpacebzmvteqcotuembyohakwwbtkfyedyklbonneolizwgszrfoyudrlxsludkaukxchemklefxklrlvjfurqiwfiouaysczdvf
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: fezulkjuyngsfbddjrejoosmkelzgdtzvgmaeekccjjejqfitedkgacciubaulrhlgieakdrghnvstfhkjpzovwzjpinsnhxvuroowoeivudcfrjucxtlyidxahpexrqebyi
                password:
                  type: string
                  description: ''
                  example: repudiandae
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: omnis
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /stp/auth/login:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: tmvxirckrflsfimcygjaorazbnjxxmf
                password:
                  type: string
                  description: ''
                  example: eligendi
              required:
                - email
                - password
      security: []
  /stp/auth/refresh:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/auth/logout:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/auth/me:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/auth/changepassword:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: ''
                  example: aut
                new_password:
                  type: string
                  description: ''
                  example: possimus
                new_confirm_password:
                  type: string
                  description: 'The value and <code>new_password</code> must match.'
                  example: null
              required:
                - current_password
                - new_password
      security: []
  /stp/auth/changename:
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: consectetur
              required:
                - name
      security: []
  '/stp/auth/email/verify/{token}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: token
        description: ''
        example: eum
        required: true
        schema:
          type: string
  /stp/auth/email/resend:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/tenant/member:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: veritatis
                email:
                  type: string
                  description: ''
                  example: sed
                age:
                  type: string
                  description: ''
                  example: ad
                phone_number:
                  type: string
                  description: ''
                  example: minima
                address:
                  type: string
                  description: ''
                  example: est
              required:
                - name
                - email
                - age
                - phone_number
                - address
      security: []
  '/stp/tenant/member/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the member.'
        example: 9
        required: true
        schema:
          type: integer
  '/stp/tenant/member/search/{name}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: name
        description: ''
        example: nisi
        required: true
        schema:
          type: string
  /stp/juri/add-juri:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: error
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: lupe.klein@example.org
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: udnduvh
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: sint
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /stp/juri/get-juri:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/stp/juri/get-juri/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get juri.'
        example: odit
        required: true
        schema:
          type: string
  '/stp/juri/update-juri/{id}':
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: quis
                email:
                  type: string
                  description: ''
                  example: null
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: u
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: similique
              required:
                - name
                - password
                - password_confirmation
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update juri.'
        example: dolorem
        required: true
        schema:
          type: string
  '/stp/juri/delete-juri/{id}':
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the delete juri.'
        example: rerum
        required: true
        schema:
          type: string
  /stp/mentor/add-mentor:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: quas
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: octavia51@example.com
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: w
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: tenetur
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /stp/mentor/get-mentor:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/stp/mentor/get-mentor/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get mentor.'
        example: ad
        required: true
        schema:
          type: string
  '/stp/mentor/update-mentor/{id}':
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: nulla
                email:
                  type: string
                  description: ''
                  example: null
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: p
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: molestias
              required:
                - name
                - password
                - password_confirmation
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update mentor.'
        example: est
        required: true
        schema:
          type: string
  '/stp/mentor/delete-mentor/{id}':
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the delete mentor.'
        example: sed
        required: true
        schema:
          type: string
  '/stp/tenant/proposal-konten/{id}':
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                konten_judul:
                  type: string
                  description: ''
                  example: exercitationem
                konten_subjudul:
                  type: string
                  description: ''
                  example: quo
                konten_isi:
                  type: string
                  description: 'Must be at least 50 characters.'
                  example: mslklapnhwyfsfdnsifjtrtlhzulvdonbsrwxlndywqhftfyvz
              required:
                - konten_judul
                - konten_subjudul
                - konten_isi
      security: []
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the proposal konten.'
        example: 14
        required: true
        schema:
          type: integer
  /stp/tenant/proposal-konten:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                konten_judul:
                  type: string
                  description: ''
                  example: eveniet
                konten_subjudul:
                  type: string
                  description: ''
                  example: nostrum
                konten_isi:
                  type: string
                  description: 'Must be at least 50 characters.'
                  example: iwcktnrteohabaqrld
              required:
                - konten_judul
                - konten_subjudul
                - konten_isi
      security: []
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/juri/penilaian-juri:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                penerapan_di_masyarakat:
                  type: string
                  description: ''
                  example: accusamus
                manfaat:
                  type: string
                  description: ''
                  example: sit
                keberlangsungan:
                  type: string
                  description: ''
                  example: nobis
                presentasi_penyajian_produk:
                  type: string
                  description: ''
                  example: sed
              required:
                - penerapan_di_masyarakat
                - manfaat
                - keberlangsungan
                - presentasi_penyajian_produk
      security: []
  '/stp/juri/penilaian-juri/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                penerapan_di_masyarakat:
                  type: string
                  description: ''
                  example: perferendis
                manfaat:
                  type: string
                  description: ''
                  example: corporis
                keberlangsungan:
                  type: string
                  description: ''
                  example: quibusdam
                presentasi_penyajian_produk:
                  type: string
                  description: ''
                  example: eveniet
              required:
                - penerapan_di_masyarakat
                - manfaat
                - keberlangsungan
                - presentasi_penyajian_produk
      security: []
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the penilaian juri.'
        example: 11
        required: true
        schema:
          type: integer
  '/stp/tenant/proposal/{id}':
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proposal_judul:
                  type: string
                  description: 'Must not be greater than 150 characters.'
                  example: stacwbdpgmnatwnkqdbxfeccopkgmyfhbvusfxljryclbbeyjfymhvhzvlvuhopzqkpoutlkpdzuhcppfzpikkdvziighkkjgqpzoyagseyyxe
                proposal_kategori:
                  type: string
                  description: ''
                  example: accusamus
                proposal_bab1:
                  type: string
                  description: ''
                  example: null
                proposal_bab2:
                  type: string
                  description: ''
                  example: null
                proposal_bab3:
                  type: string
                  description: ''
                  example: null
                proposal_bab4:
                  type: string
                  description: ''
                  example: null
                proposal_bab5:
                  type: string
                  description: ''
                  example: null
                proposal_bab6:
                  type: string
                  description: ''
                  example: null
              required:
                - proposal_judul
                - proposal_kategori
      security: []
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the proposal.'
        example: 13
        required: true
        schema:
          type: integer
  /stp/tenant/proposal:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proposal_judul:
                  type: string
                  description: 'Must not be greater than 150 characters.'
                  example: fgquemsjxviofkhkinjjbnvzgefcxivjwirbulbywjqgsichlzdnydhcyrcqolworroedeglixzvlvbisrakwviqrszkldolmtknrbfnbhnfce
                proposal_kategori:
                  type: string
                  description: ''
                  example: est
                proposal_bab1:
                  type: string
                  description: ''
                  example: null
                proposal_bab2:
                  type: string
                  description: ''
                  example: null
                proposal_bab3:
                  type: string
                  description: ''
                  example: null
                proposal_bab4:
                  type: string
                  description: ''
                  example: null
                proposal_bab5:
                  type: string
                  description: ''
                  example: null
                proposal_bab6:
                  type: string
                  description: ''
                  example: null
              required:
                - proposal_judul
                - proposal_kategori
      security: []
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/cowork/add-cowork:
    post:
      summary: 'Store a newly created resource in storage.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_workspace:
                  type: string
                  description: ''
                  example: voluptas
                alamat:
                  type: string
                  description: ''
                  example: et
                kapasitas:
                  type: string
                  description: ''
                  example: ut
                nomor_pengurus:
                  type: string
                  description: ''
                  example: eos
                biaya_harian:
                  type: string
                  description: ''
                  example: qui
                biaya_mingguan:
                  type: string
                  description: ''
                  example: dignissimos
                biaya_bulanan:
                  type: string
                  description: ''
                  example: consequatur
                biaya_tahunan:
                  type: string
                  description: ''
                  example: praesentium
                fasilitas:
                  type: string
                  description: ''
                  example: deserunt
                jam_operasional_buka:
                  type: string
                  description: ''
                  example: null
                jam_operasional_tutup:
                  type: string
                  description: ''
                  example: null
                hari_operasional_buka:
                  type: string
                  description: ''
                  example: mollitia
                hari_operasional_tutup:
                  type: string
                  description: ''
                  example: ut
                dokumen_cowork_path:
                  type: string
                  description: ''
                  example: null
                image_cowork_path:
                  type: string
                  description: ''
                  example: null
              required:
                - nama_workspace
                - alamat
                - kapasitas
                - nomor_pengurus
                - biaya_harian
                - biaya_mingguan
                - biaya_bulanan
                - biaya_tahunan
                - fasilitas
                - hari_operasional_buka
                - hari_operasional_tutup
      security: []
  /stp/cowork/get-cowork:
    get:
      summary: 'Display a listing of the resource.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  '/stp/cowork/get-cowork/{id}':
    get:
      summary: 'Display the specified resource.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get cowork.'
        example: minima
        required: true
        schema:
          type: string
  '/stp/cowork/update-cowork/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_workspace:
                  type: string
                  description: ''
                  example: cupiditate
                alamat:
                  type: string
                  description: ''
                  example: necessitatibus
                kapasitas:
                  type: string
                  description: ''
                  example: cupiditate
                nomor_pengurus:
                  type: string
                  description: ''
                  example: temporibus
                biaya_harian:
                  type: string
                  description: ''
                  example: tempora
                biaya_mingguan:
                  type: string
                  description: ''
                  example: a
                biaya_bulanan:
                  type: string
                  description: ''
                  example: nihil
                biaya_tahunan:
                  type: string
                  description: ''
                  example: natus
                fasilitas:
                  type: string
                  description: ''
                  example: amet
              required:
                - nama_workspace
                - alamat
                - kapasitas
                - nomor_pengurus
                - biaya_harian
                - biaya_mingguan
                - biaya_bulanan
                - biaya_tahunan
                - fasilitas
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update cowork.'
        example: dolorem
        required: true
        schema:
          type: string
  '/stp/cowork/delete-cowork/{id}':
    delete:
      summary: 'Remove the specified resource from storage.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the delete cowork.'
        example: ut
        required: true
        schema:
          type: string
  /stp/files/file-upload:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: 'Must not be greater than 2048 characters.'
                  example: efhhporqgvznhegrjskthqfmgufjebkijvbwobstacbtvshjcgqpctrkmgetgctdnmgkqivmjytrlpizivqdyprjxvtihkdptkdvzmmczrhalatkkhwuagifsrcplyymysavyhlpwzhwfpioeiplyvalauljcwjmewmsbelyurpkpaplbaopfugvdrblgcdfbhuocqkmopcwehqcvvgxkezybrqwncgcwmenwbaqobneviolipeavdlkgbxbcwkxtiicjrludhgogogsidpvidyqdyhtwrqlukzzvpmkwzzkgabfasehmeshwsweudpuvejqeorfcrksprulnfjqqfgbpmqivjqlqtheyfaerlckqmahgocgwqtibidaczuzfqjqtaffcnaabqwhsitninnfotxkxdemkpcpjwvreicyjjjlyqhsfscvsrkuvlktdzshirhgriatwbwhkmnxwewkmxevzhigryuoshzrpwkadzikwjzfmdjlxzfvzqbkcoooayasejffbsxspgexsiuvjrzfyjybartoqxrskmooaudtvceoisrgdebduosgkyqoyktyvulbuxdktccxputtrbtpimishadyxqnjwyttdwblrucoffhaxalhwcbnoobodhevozdkfhnnvqvwolhytcapztwtalkimdetgdiyslstwphdtlmtfoostymffaewsdlwetvigscwvcqgfyljpgocbjtgblcgjntelzcsflvdibrmznnjioeilofsbyinzmiwfwjmmegwfgnwiuymbkooignchdysahrhkedcitzfipnqstwwolyhdcojtrmvnbiqgmfoiocuvoejijzgkfxnfconwpwambpofvyjehqwxnqdztzgpuaivlpmjdgwyeztxucrkzeyyvhjjvdjzekkxicmxgnnakisojfvvlogssophajquxypgviqscdxmkjcfmvnzyxoxypdghqkjqkloqoka
              required:
                - file
      security: []
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /stp/tenant/add-alat-sewa:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_alat:
                  type: string
                  description: ''
                  example: et
                alamat:
                  type: string
                  description: ''
                  example: provident
                kapasitas:
                  type: string
                  description: ''
                  example: ut
                nomor_pengurus:
                  type: string
                  description: ''
                  example: ullam
                biaya_harian:
                  type: string
                  description: ''
                  example: null
                biaya_mingguan:
                  type: string
                  description: ''
                  example: null
                biaya_bulanan:
                  type: string
                  description: ''
                  example: null
                biaya_tahunan:
                  type: string
                  description: ''
                  example: null
                file_path:
                  type: string
                  description: 'Must not be greater than 4048 characters.'
                  example: tixdasrbksvqvxsyozlhelirvqkqewtqrfuepnarlkhjkbgelviqindmkvyrlkqibbzzllcfhvvphqvcchfofnkjahidfkardypblflxlplurqkbqpngiubellfwnacnyluzdtrkppaprqfjqvbbovzqtzcvbynfqidmlbxkekbkislskaydpfhmgkwfhopovatcymwwuuvslqttyvqehlpuwbzmadjubnyqpznmkrovbfzfnprkykovdynwdayivejbyvatsyomxxgeeabaaxfejukcfekcjnemszriszgxldxefbjdtpmymitjofqtmsletnyevpqxhjpduknjodmbmflgsxfpihyuvnsctdediegprcvkzvblwhzlumaacrioyxqevwbxwnqikkzhzndturqfsaclmxmjphveoqzmpbrswqgqbfqedtbgmryztuxdlhiezggmbrmempgccnjtmommcxcamslmhmliinmrttrvbahjzgdcsbgcrtxtvedkrbavwvlceecrfhrsronypmohnbtetajtnbsfskyzburvgtosbgbstgmwipveesfhotaqqgnlmzjyutldqjjqmdybhbvamwjlvfatewawnmsazhzqpjmuiqbgehbmloksiwqdziifxgggrbvxwgtkshnknrmzgvbadtantwkewnpijoppicvuddlxzvfonwpvlavkubamafngzepnfdpzhwohrhczijtiecynmwdecjbpyxtshjsctcottpqgcyneirhzhldgatgowjfefujqzjevfgfavnwqleeyydbaothhasqqloxcxhnodrxhmdwgbafikyahmwkuhrlyqxrpraglomklihcnrqwegohuvhidycznwxdtsygmctrpdnfqucqjtmeobvooctsuzondqjjbnbzccbyhteyaojmemrkxwcewrbquyfgvmchktavcymniptfcsoowvykjpenzyeqztwmyyqhhlyyutnwquxfaisqmzmxmtzympdjijopumwvxemaiqdhzwyjiplwrkrjpipvzkolfktmixowspubwannmwsaddadqnigsmdbjjriwjxlsiqnzrjsqjuovcaxgkdfayowipojcviixzlptkymzuyeakgeyfhszvlizghnwsxhfuybgxcgkihanytbbxogxybwcdwigyfjtjofyctzcsoacikvuxgswkelvrjuaghacnqdnlfshmyumbuwokrvilsekijbepiqvkcbtregftpzmtgrsmuwnvozohxftlikgdskvxvrtamfbipjtampggklfedsphgoneasqhmjcsxtigbbvxyfkrlywsuxjdsbctudpbgdrkpunufszmdrhvlfiybrzfvireonjsniosjndrzmdziiztegvmuzzdilfxjbjrnongkbnbmmqwemwzdxdhemsocbpenlmbvijfqltmpllcrtcjvblhtcbaakbjtzbodcmdoiddaasvgvsuqjlltjgahradqnwdmlbdgdweljhjcvggorwojvrsmmennwguwzphoorlobjhlqohbzrakkqmhlvvalmzkcmsaemsspmbfwxftudjzkaykttaeskfnguihinitcihvrafubtpitlldbvyrluzyoojoxrztwhxmgdjpzitpfyxuqvpsjygyfpjiixhktkppxtijofmtoukgnrjdwbhodtvunazcwmucdhnbfhxfeoloeopvarezopncbigbwufnmiccecepqffyzzjoyiuwnidiedqfofphgnczktugovekyosubljfdhykonzhhewrklwziyjhbhvputckbfqgkmfdisivsrimaofviyevfcvtzelabcinhwjegdcfojdqiwvjiytrrukozskecuoeoxhsngpezbxqdpcknilgfeptulartjakshfureyavasywvimfdkflubkmguesaodclbindsyqdtpdarflzeqtwgjkepnrzklckschpljmnjxmtadhngnjokcnznrredsismieakelmusyyhdwyovzxtnuwsxfvmvijwjvneaqmcpqrnoqjdpyzunglwmyknlzhlqjrwgfghnqueugkjvigvvcklsectytkqwaopsfzfkkzhpyyqavxwyppqwdfwjqiiysghryuknejmgusqoqbewsfaayxfkkpudnuahrjeatywyhxnlmaphuntbqbwbhhhoukahkubtzohtdrcymfhounmxznhajuutanjhkweypnekeihqponzoqdaecjolefukmbymliajcxfojhxzzmtacnwvzgklaggxpivlsgucoxpyhylbcicjmzgwqhyryteydrwakzyvxgibuciswnqaahwpqblnhizpjglbgemyabmddebpusgbdfbtcuxuaaofbmenyvdihlhtbkyjbzvqllwnkzewzefvoyzlgqiwsuwzffbtpfuqjyfgkjuykdvwddjhcqckekswhfteoisuuedahdthoeewfrwneftrouswcowobnzkiujicbgjgehzaaitnqildwvrvjlrmjgoywqipjgiygsnvgmjbxdosygvejmqqssubfkfatnbrjzgtmupczsedvxflklspcsfuksrklkwaaqkuwpgwkqdxqrlsmbtthdelnvzfbnphjgobwixgyngspvgpkdgmvilubtrllijtpdbvngibgsaaodriphdtbwdbsknigpprajlytvfhbddzmpcbeuirvdzjrtqqdhmzekqqztpupkvutrcbmfdjzyvzwiudtoorgwztrjovhyjkfgjcxphjmgtnlgceenbbkjtcvpnhxjdbzcaluzckmbaofcwihpwnxtwrjwqodfeqwoiwwirnvqjrvutioejhlzmwqncolbpqwazpsayxowyofttqdjabwzwjzuqmgnlbatqtyhrwdnqjbbftknxyfeunwbsaylfpkgpjlowjlyqjyvvxohojdvfkctxvmsiyyupbtrsszpbchribwkqqcfgecpyfyujnkellfmlukaqnporhapjvzzqcwcuuwxkvgbxtofkxgvvfpuwcsbwioftkazkfpfveqkiucdliprnrpielbewfhujbjoajfqvswuogwutuieuwwabkeyskcaovnesfipzyyvogigklsogitckzlucnpuahwwqyhkkgkveafxnfxvswbvzjzogytailkgzyeaoosnzrwrauouppwldccqxcfpvuhjiobfgjlnaqqocmoempgppvwkwnyopsqezzponizwftiutcacfpnayswondrxzhxcfuqmvfeckxhopzhbqoywmglfpgudjaxstizcgdsextueoeerpnttecljpvzokxedurprjyygzzkkutdykzqdqvkbdhestpixsmixegiuivcyqkxpqfadiqwqnoyryhehmjaetxyrcwndtkuyaqxtmeiomftlsrpmaijmnceartkikjadjykqzoqidurwutvoixxsguswwqjvwlulsjapnaxoehcskocmvmtvncikqmlwbhbdeoewytxhljpviqqdkmcquahbaqntbyboicumwvdkmnjarlaqdxhmjstnbtijeeoibvovvsgshcpmycjbvjrnwakceizklbbamjmzhpzqelgtzcasocanjwxjeptesiivgiiweddvrdyaquqwanahfqzcdisbamiwywspysnojxfhftrborolmihfgwcfvhuwgxrrbweyosanfwllgijgachpaeoxszkaxohzrokeyhhsyswrmxwxauvdeutiglsdhqstgthwmqhxbpckhenvolcquxbhjvbxjoumsvfurphiswmpknwntvboywlchqktlhotbemieyg
              required:
                - nama_alat
                - alamat
                - kapasitas
                - nomor_pengurus
      security: []
  '/stp/tenant/add-alat-sewa/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_alat:
                  type: string
                  description: ''
                  example: facilis
                alamat:
                  type: string
                  description: ''
                  example: id
                kapasitas:
                  type: string
                  description: ''
                  example: possimus
                nomor_pengurus:
                  type: string
                  description: ''
                  example: autem
                biaya_harian:
                  type: string
                  description: ''
                  example: null
                biaya_mingguan:
                  type: string
                  description: ''
                  example: null
                biaya_bulanan:
                  type: string
                  description: ''
                  example: null
                biaya_tahunan:
                  type: string
                  description: ''
                  example: null
                file_path:
                  type: string
                  description: 'Must not be greater than 4048 characters.'
                  example: ebiiyzearwqvhvqbcgygotdhtiuuftdymumbgzqofmcgrxklojloxfmrjwafbkuprcovoomshxdlvjrzuuasknlatzeriykvqdozovwvsjcqrlwswpfjjbhqvjspkvvbdwcqqltsqgmhpdxgdbsamsdonyorfjvsmrbyemvjpfjavfjtwpthfwaywfptlzlqkakpyaiqlxromingifqcozdfrhkiezlprlnoedzpouceehlpfqnwzuyuawwrfvxxccfawhgriqhnwtsqdqaucpiknqqnghdonoceayipoaqkojjpfskumbmwwoweershztaypbstcixudipfsieyloghfshmfzykniymxszrgeylwhdrkgxrkxhdunfivxmkigscptomrwchifiyuklotxpdsdvcpatblszakzfhegfdvdbkkxjltuisotedtbznakcndplmyivnorsbrjyoxvmyhmzprjvbdjbgqtpsivjbnrkqmtptmwegzvdaglfcyzooutyccwlxobvnjiiwhnavowbhenpahzzsnhzyagskzxrmnkrorujippxhbwghtbkhirnvtgmtpiootzmymwleguwdcjosiaeckxlnekezctuuitprlgplgqmysqwtpsyzowclcxscvltekbltztfhpydyijyaevavbwczdthbzkfqfsnnfgonveseadcifolmnijyylaxjknjxkspdeixxmeawkslgvurmuulryqmczvuslmzgqkujxjcueycqsvuylbmsecxfcafztateruebllwaadcmqcqyyyvfzxhajinfeiwapppmeeoumgivawrgwqauyfjujkfhhywzqrglqacvsqispxkznnsfmrbxbjdiftrvuavdtiksmcenlycgwxwtzqhnqizwxphsmatdgwrlrpdpmsdjuinvijodgrustrqibwrcnlaiopuckbdrbeudgwsbrmxdptkdeuxryqiydtmmcjvzojnqgnrtkuhcjwzzaageexhttryxbpltpwmcdelcavxufbhavcmxymzbeoyibbftvzctybdwtfufrrdelabnywjqftwuzgkrvwgblusvuyynjktfwpyuoeexusronxhbsrgnzzakjvyrdhyrythvvyorpmamgtgrvsemwqenxrbwhygtjsfovdvglnwhatnxsrftuwpihomsczwmxokkirldpbbvsbhjpoggyrgymvrcfopticaqvtouyxnfcrilnzsqutxdetzfunwnujqkncejwpbjoozwlvwxaeqjjlankxszeburorjaalxavzkmugdzoezmvzhrwwpbunsplzsxejtcupnrshglvtduwaczvpweaezduwynyaukvoqsjzwqukxnakqsrwpvxcuowoopzorhisckygvglvdvezymcxjxgndjdligeyzjhaeasqknveaerdnvalefwllkomeawuxhjmwjgnxktoycezdiczgxdtqsbnbkmwzltwxqodxysjtiaruzmwpdclnprxpzncgydhpmjkqknkpyokvbzfskkoaminzwlbadikoluibeweyiporlnhefyakoyyydnxnccetgkvrvgqmfycylkurymqhhxctysxrmzttvspoabhzcxovnvrdikqkiozencxosatfxahcbnsgzwhfwicnneieqbxzaewedpqmxoevceqsbyxysuodlmwyrbohaxwjxjodfwofbtgjmkjtzmmvuinwmlovohvamsdweshjazdppbzfryistntpbiiotyccifdqhuihqtkomkbcrltgecfidiosnprvgyykvpurxbvpyfissazhtdsphthhqnnlxeettfdtlxqveayybyedsdrfgzqobcluvsnapmlawfejnfvdvsvwutusgmndzfozhyjrfzrrgrrafmdulnuusukincozewrdhcbponybpfrdtwxsvrsmyouplifrabcrkutehkhldzrabmwrnhzbrwvoxcztcaowheuijxklxnwrshnkevnemuvqwlqycmqodalruhzxajbxjvdupehnewffpeqmurrtkfeyifwxtzlhhicwfwokodgkhgqcnpqnkxqlwgznwbqwdxdxniyjmyvvnfqanmyqlrapffrzipfywttxgnryxpugswbayfpdhvuutjwcvpoemqiiwpeyqnrsizsfbdbgkzumfsrsgrisailpubinegomqpqiczgpzmnclzbytvvavykuxrcekaggyondbvztmujvqmmzalpszranyoqonhgglassncrokonshduhqrvlztdymxdrhqcadpsjbepmxtoezjjwuyojmakjdxiynvinjfqcqnsamkmtbpgqnacdwgdxnqhufekudsuwmpoqjtriofgefnpeactnmbyxwzmfxzmlcnvcnmahdvvuzbmbivnyirjgxgycilctmzrjtqzynjqecteftbmwahfbhftjlpemewdnohpzeoupplbdorjyoijtjgrjvyvucvvepjmkfwxvlldfbtlzriibgxhvxapdkasffgqjthikbzwlamynpxygxodzxvkmauswpvdkhqjzaqzmqvvxflukxzkdcqlqsqskgsblhbcbnmqxupgqpezqyvktykwgmfjalaotugccdwemvprwmnahiiafdjvdklmikyxbiiivrcjyspixxfpoqirbcnfgkkiewnwcjmfgtdshikgpzhmucuyuwdsdjmbgdtzuiwxiokbgkevjaexjgblfyxktidejivyjxsdzhndemcxuevrkcxakvvtsfcqcgxlychuserpswgabiqbvobuzsbveogrkfxj
              required:
                - nama_alat
                - alamat
                - kapasitas
                - nomor_pengurus
      security: []
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the add alat sewa.'
        example: 17
        required: true
        schema:
          type: integer
  /stp/talent/profile-talent:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_image:
                  type: string
                  description: 'Must not be greater than 4048 characters.'
                  example: ftctpotkmkhusbcgeekzczkiapeaihrjwfpwtbjxesplujgrthubuggotbfdzjgunvhyzoxmoibrtbqpatfqwiplqiusbdldvoantolmdnfdwcvyqlgphhxqgnhuhcfpahqyztnzpebbwqeqhsknwtnutngelaviagpieqnedenoasqdbwbgaumnpxgozxlduxnyczjncnmkfqcfrrzcmdhxemjsclhkvrebujmxwyuymycwougkekoksvxotspahawzhadtwlmvbnytbvanosbbpqbrsyrkvwefvlilbsophxzscvlknyebovhiyvxxjjzklgdmlqyoasrjlluhrwynzissklaoojitartxxhircexrkvbgeudsgjfufhehhhrcjfpqihhqoydsqhayyraxancxcqxefxeqvsrmcwxluyrkgsxizufmfetipygfdufnyozfgcrmaztfoznrhhpuydljfcdoexqdgyhxkgolcoouwphoovnrywvfqkpuwjlgbpbgyohpnwictyeugzgefjunqdkxdywwefbssbmbbqntigfiskrzpphvemhobtnauubgvjuegpdfczdsbjf
                profile_number:
                  type: string
                  description: ''
                  example: aut
                profile_age:
                  type: string
                  description: ''
                  example: eius
                profile_address_province:
                  type: string
                  description: ''
                  example: magni
                profile_address_city:
                  type: string
                  description: ''
                  example: placeat
              required:
                - profile_image
                - profile_number
                - profile_age
                - profile_address_province
                - profile_address_city
      security: []
  '/stp/talent/profile-talent/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_image:
                  type: string
                  description: 'Must not be greater than 4048 characters.'
                  example: kjyxmqmqcexersalzipvbleqgebwgdnjfegrrblbybjcvqblhxsjwkneetuofuqnzpfwpvjrhzzrtqzwrhdoivnuqiwnzgzsyfkachowyxinvbmevsmjtietcbcqxtwfpiwibtkicqymruebjpvqtbxalyztvxgsxcsutuotzbgtksliueimttyfrskzkpigisnnuviohxvnjfjjygvhgpmupasivqjrqsgnidxaoxmbbofnwyqobaoxqpljvfzdiadtoxpejpltkljlbwfysqjyhvwgqvpgsqnnvmcdbnwvmwjkowcjizuxpdxxyyzauqrmghmtqfczzamyflgzqkydwymaccmkboqlxoofcfnkrkxzawkouraitonxrwdmturvvdumknmgaegjqmkdflaqbtbmduagsuccybyjallhhzlhqvcmxisvjicrzhcbzwvahahfohdxpvxwbjicntfavrkqejtrcwqijgxsvvypeqxaefpqqpyrrlandlqqalwdixfdfmiyhquxoamioongyblzurupfpsutdicqcqryxvnylwszoegiahgbxbsadatjrbewpgmurpyetlblzwiteuhfbrbnqgunfmgbeflwmcxwcberhbkfqqzgdashhmboipwwxhfiopnckfejtqsyjnwzafrphmbukggosamyokgdkadrrxfiygmetfreqzxwtcchtyqjftnbagsksmprlznwsqpdmuhbkepdtrvqjyvmcglwrhlnfaqybyypexthybyzchkbzvvoylmmcovymyylaytstrpqdcbcotltgfpkhcydoofapexyhzoargoumrwfgylsgbwstegnjsautdwizekzbtcoedkhpugaffnjtakxlxnhmcaqlradqgtptxkkegdzpajjuubialvgkhkiyolfdkfyetfgcsheayskkxctdikvpswbxpimttlkdlqvceegqbvbuygllcnaeohizqqhaydwlajxlonshyarylzzrtdduhrvzyzpkyaabtrsboiwihxjueunufiqajhkoxeqpsfrrrbvlzxkmrjiresepydwwkjoyfpbphynohynhyppepedjyfbjtmaanznpzynmxokwtuayfhszpztckzfxbsqatdcgmwpgefhvrckcvqquqtznykkafyyfqpcotljikhwlzjsjzpltrimbjugpszgtpksiumcdcuavoxnhwzrwnopwezsdpppjnqjqxcqwuibzopplxkkjlljsxuzolggccoerbqejlulvlhfxcfiaxyzjslhxviqyfnnbbrbozbgsjsltigftkhcucidhopaqcnzxpctwliviotdxkifrwjqxxzuetygiakybvxlerjgwigbfditxburgaoixfrxauiwdtgtbqxovkudjxtyodbiyehbpflxfhmuhxfbabkxlfttxhkouhjcabjspgkppjrbqcjpphhaeacvcjugdruysiwprmguqxfvfseasevcuoskyqcmshnsjtubdmuhikzfpbxortqplwiglpfuoskqrgwxooubaqcikedmqkfedgrgjtqnfjhueuvoxzmpgyvywjuzcblqviahtkashijaxqoqmxzkcxvfvrmhpywqjccwlofelgtfrmultybfyunqdwziojthygvgdcyyufvksfjhcycxhyprpqbybxvgqslunozroyfgadvwqdsfoiszogatnwuyyivaoivzjzrtqkigvmyetaedwdroaeu
                profile_number:
                  type: string
                  description: ''
                  example: omnis
                profile_age:
                  type: string
                  description: ''
                  example: et
                profile_address_province:
                  type: string
                  description: ''
                  example: eligendi
                profile_address_city:
                  type: string
                  description: ''
                  example: quas
              required:
                - profile_image
                - profile_number
                - profile_age
                - profile_address_province
                - profile_address_city
      security: []
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the profile talent.'
        example: 9
        required: true
        schema:
          type: integer
  /stp/pelatihan/add-pelatihan:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                judul_pelatihan:
                  type: string
                  description: ''
                  example: suscipit
                deskripsi:
                  type: string
                  description: ''
                  example: nisi
                pembicara:
                  type: string
                  description: ''
                  example: at
                kapasitas:
                  type: string
                  description: ''
                  example: repellendus
                biaya:
                  type: string
                  description: ''
                  example: et
                hari:
                  type: string
                  description: ''
                  example: null
                jam:
                  type: string
                  description: ''
                  example: null
                dokumen_pelatihan_path:
                  type: string
                  description: ''
                  example: null
                gambar_pelatihan_path:
                  type: string
                  description: ''
                  example: null
              required:
                - judul_pelatihan
                - deskripsi
                - pembicara
                - kapasitas
                - biaya
      security: []
  '/stp/pelatihan/get-pelatihan/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get pelatihan.'
        example: expedita
        required: true
        schema:
          type: string
  '/stp/pelatihan/edit-pelatihan/{id}':
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                judul_pelatihan:
                  type: string
                  description: ''
                  example: commodi
                deskripsi:
                  type: string
                  description: ''
                  example: ea
                pembicara:
                  type: string
                  description: ''
                  example: assumenda
                kapasitas:
                  type: string
                  description: ''
                  example: sequi
                biaya:
                  type: string
                  description: ''
                  example: saepe
                hari:
                  type: string
                  description: ''
                  example: null
                jam:
                  type: string
                  description: ''
                  example: null
                dokumen_pelatihan_path:
                  type: string
                  description: ''
                  example: null
                gambar_pelatihan_path:
                  type: string
                  description: ''
                  example: null
              required:
                - judul_pelatihan
                - deskripsi
                - pembicara
                - kapasitas
                - biaya
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the edit pelatihan.'
        example: commodi
        required: true
        schema:
          type: string
  '/stp/pelatihan/del-pelatihan/{id}':
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the del pelatihan.'
        example: asperiores
        required: true
        schema:
          type: string
  /stp/pelatihan/get-pelatihan:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /stp/profile-tenant/add-profile:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_perusahaan:
                  type: string
                  description: ''
                  example: accusantium
                alamat_perusahaan:
                  type: string
                  description: ''
                  example: deleniti
                email_perusahaan:
                  type: string
                  description: ''
                  example: fugiat
                nomor_perusahaan:
                  type: string
                  description: ''
                  example: ut
                ketua_perusahaan:
                  type: string
                  description: ''
                  example: asperiores
              required:
                - nama_perusahaan
                - alamat_perusahaan
                - email_perusahaan
                - nomor_perusahaan
                - ketua_perusahaan
      security: []
  '/stp/profile-tenant/get-profile/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get profile.'
        example: esse
        required: true
        schema:
          type: string
  '/stp/profile-tenant/edit-profile/{id}':
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nama_perusahaan:
                  type: string
                  description: ''
                  example: et
                alamat_perusahaan:
                  type: string
                  description: ''
                  example: eum
                email_perusahaan:
                  type: string
                  description: ''
                  example: similique
                nomor_perusahaan:
                  type: string
                  description: ''
                  example: animi
                ketua_perusahaan:
                  type: string
                  description: ''
                  example: porro
              required:
                - nama_perusahaan
                - alamat_perusahaan
                - email_perusahaan
                - nomor_perusahaan
                - ketua_perusahaan
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the edit profile.'
        example: a
        required: true
        schema:
          type: string
  '/stp/profile-tenant/del-profile/{id}':
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the del profile.'
        example: quia
        required: true
        schema:
          type: string
tags:
  -
    name: Endpoints
    description: ''
